.DS_Store
out/
*.iml
.idea/
*.swp
nbproject/
/.metadata/        
src/.metadata/                                                                                                                                                                                                        
src/.project 